/*Generales*/
html{
    scroll-behavior: smooth;
}
Body{
    
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

/*Navbar*/
.logo-nav{
    width: 1.7rem;
}
.titlenav{
    font-weight: 400;
    font-size: 1.5rem;
}
.textnav{
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}

/*titulos secciones*/
.titlesect{
    font-weight: 500;
    font-size: 2.5;
    text-transform: uppercase;
}

/*Sección presentación*/
.iconpre{
    background-color: #0dcaf0;
}
.textpre{
    font-size: 1rem;
    font-weight: 400;
}

/*Sección destacados*/
.card-img-top{
    height: 12rem;
}

/*tooltip cambio de color*/
.tooltip-inner {
    background-color:#0dcaf0;
    color: white;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #0dcaf0 !important;
}

/*Footer*/
.backfoot{
    background-color: #0dcaf0;
}

.titlefoot{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
}
/* propiedades de los iconoslinks*/
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}